name: build-and-test
on:
  push:
    branches:
      - develop
  pull_request:
jobs:
  validate-fastlane-metadata:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Validate fastlane metadata
        uses: ashutoshgngwr/validate-fastlane-supply-metadata@v2
  verify-instrumentation-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
          cache: gradle
      - name: Setup Gradle
        run: chmod +x gradlew
      - name: Assemble app
        run: ./gradlew assembleDebug assembleAndroidTest
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Run instrumentation tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 35
          arch: x86_64
          emulator-options: -no-snapshot -no-window -noaudio -no-boot-anim
          script: ./gradlew connectedCheck
